<style> 
th 
{
  vertical-align: middle;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}
td
{
  text-align: center;
  vertical-align: top;
  padding-top: 0;
  padding-bottom: 0;
}

th span 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}

.plain_tbl {
  border-bottom: 1px solid black;
  border-collapse: separate;
  margin-top: 0rem;
  margin-bottom: 0rem;
  white-space: nowrap;
}

.plain_tbl td {
  padding: 0rem;
  border: none;
  text-align: left;
}

.plain_tbl tr td {
  padding: 0rem;
  border: none;
  border-collapse: separate;
}
</style>