<div class="lecture-media-box">
  <a class="lecture-media-item" href="{{site.baseurl}}/lectures/week-{{include.week}}/">{{include.title}} (slides)</a> 
  <a class="lecture-media-item" href="https://cs.anu.edu.au/courses/comp2300/v_media/lecture-recordings/{{include.filename}}_1080.mp4">hi (1080p mp4)</a>
  <a class="lecture-media-item" href="https://cs.anu.edu.au/courses/comp2300/v_media/lecture-recordings/{{include.filename}}_540.mp4">lo (540p mp4)</a>
  <a class="lecture-media-item" href="https://cs.anu.edu.au/courses/comp2300/v_media/lecture-recordings/{{include.filename}}_audio.mp3">audio (mp3)</a> 

</div>