<div class="lecture-media-box">
  <a class="lecture-media-item" href="{{site.baseurl}}/lectures/week-{{include.week}}/">slides</a>
  <a class="lecture-media-item" href="https://cs.anu.edu.au/courses/comp2300/v_media/lecture-recordings/comp2300-2019-week-{{include.week}}-low.mp4">video (low)</a>
  <a class="lecture-media-item" href="https://cs.anu.edu.au/courses/comp2300/v_media/lecture-recordings/comp2300-2019-week-{{include.week}}-high.mp4">video (high)</a>
  <a class="lecture-media-item" href="https://gitlab.cecs.anu.edu.au/comp2300/2019/comp2300-2019-lecture-livecode/tree/week-{{include.week}}-livecode">livecode</a>
</div>
